@model IEnumerable<ModelNhaXinh.EF.Product>
@{
    ViewBag.Title = "Giảm giá đặc biệt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<ModelNhaXinh.EF.Promotion> list  =  (List<ModelNhaXinh.EF.Promotion>)ViewBag.promotion;
}
@{
    // define format VND
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}
<!-- slide -->
<div>
    
    <!-- Choosing price, material and size -->
   
    <!-- List product -->
    <div class="container-fluid mt-5">
        <div class="row">
            @foreach (var promotion in list)
            {
                string[] na = promotion.Apply.Split(',');
                foreach (var a in na)
                {
                    foreach (var item in Model)
                    {
                        if (item.ProName == a)
                        {
                            <div class="col-3">
                                <div class=" hover_total">
                                    <div class="hidden position-relative">
                                        <img id="img_active1" class=" fakeimg img_hover " src="@item.ProImage" alt="">
                                        <div class="position-absolute discount">@promotion.SoGiam%</div>
                                    </div>
                                    <div class="d-block ">
                                        <div class="me-auto">
                                            <div class="nav-link text-muted cursor mr-3" aria-current="page" href="/Home/Detail/@item.ProID">@item.ProName</div>
                                        </div>
                                        <div class="text-right " style="margin-top:-35px">
                                            <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                                            @if (item.Prices.FirstOrDefault() == null)
                                            {
                                                <div><bdi class="text-danger "> Liên Hệ </bdi></div>
                                                <div><small class="text-decoration-line-through mt-3 text-muted "></small></div>
                                            }
                                            else
                                            {
                                                
                                                var  sotien = (double.Parse((item.Prices.FirstOrDefault(s => s.Status == true).Cost).ToString()) * (100-promotion.SoGiam))/100;
                                                <div><bdi class="text-danger "> @String.Format(format, "{0:c0}", sotien  ) </bdi></div>
                                                <div><small class="text-decoration-line-through mt-3 text-muted "> @String.Format(format, "{0:c0}", (int)(item.Prices.FirstOrDefault(s => s.Status == true).Cost)) </small></div>
                                            }

                                        </div>
                                    </div>
                                    <div class="d-flex design_top hidden_img">
                                        <a onclick="common.AddCart('@item.ProID', '@item.ProName', '@item.ProImage', '@item.Prices.FirstOrDefault(s => s.Status == true).Cost')" class=" btn btn-outline-dark">THÊM VÀO GIỎ</a>
                                        <a href="/Home/Detail/@item.ProID" class="float-right btn btn-dark">XEM THÊM</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }

            }

            @if (Model.Count() > 0)
            {
                var pageDisplay = (int)(ViewBag.maxpage);

                int totalpage = (int)ViewBag.totalpage;
                int currentpage = (int)ViewBag.page;

                var startPageIndex = Math.Max(1, currentpage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalpage, currentpage + pageDisplay / 2);

                var link = "/GiamGia/DacBiet";
                <div>
                    <ul class="pagination justify-content-center">
                        @if (currentpage >= ViewBag.Fist)
                        {
                            <li class="page-item"><a class="page-link" href="@link?page=@ViewBag.Fist" title="Trang đầu"><i class="fa fa-angle-double-left text-muted"></i></a></li>
                            <li class="page-item"><a class="page-link" href="@link?page=@ViewBag.Prev" title="Trang trước"><i class="fa fa-angle-left text-muted"></i></a></li>
                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentpage == i)
                            {
                                <li class="page-item active"><a class="page-link text-white" href="@link?page=@i" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item "><a class="page-link text-muted" href="@link?page=@i" title="Trang @i">@i</a></li>
                            }
                        }
                        @if (currentpage <= totalpage)
                        {
                            <li class="page-item"><a class="page-link" href="@link?page=@ViewBag.Next" title="Trang sau"><i class="fa fa-angle-right text-muted"></i></a></li>
                            <li class="page-item"><a class="page-link" href="@link?page=@totalpage" title="Trang cuối"><i class="fa fa-angle-double-right text-muted"></i></a></li>
                        }


                    </ul>
                </div>
            }
            else
            {
                <span class="text-danger ms-3 mb-3">Không có bản ghi nào</span>
            }

        </div>

    </div>
    
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-sm-6  ">
                <div class="hidden">
                    <img class="fakeimg item " src="/Assets/Admin/images/Rectangle.jpeg" alt="">
                </div>

            </div>
            <div class="col-sm-6">
                <div class="row d-flex">
                    <div class="col-sm-5">
                        <h4>Không gian phòng khách</h4>
                        <small>Phòng khách là không gian chính của ngôi nhà là nơi sum họp gia đình</small>
                        <a class="nav-link design" href="#">
                            MẪU THIẾT KẾ <i class="fa-solid fa-right-long"></i>
                        </a>
                        <div class="nav-item design_left">
                            <h4>Đồ trang trí</h4>
                            <small>Mang lại những nguồn cảm hứng và nét sinh động cho không gian</small>
                            <a class="nav-link design" href="#">KHÁM PHÁ <i class="fa-solid fa-right-long"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="hidden">
                            <img class="fakeimg item" src="/Assets/Admin/images/nha-xinh-phong-khach-may-net-viet-duong-dai-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mẫ phòng ngủ -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-sm-6  ">
                <div class="row ">
                    <div class="col-sm-7">
                        <div class="hidden">
                            <img class="fakeimg item" src="/Assets/Admin/images/SHOWROOM_007.jpg"
                                 alt="">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="nav-item design_left">
                            <h4>Không gian phòng ngủ</h4>
                            <small>Những mẫu phòng ngủ của Nhà Xinh mang đến cảm giác ấm cúng, gần gũi và thoải mái</small>
                            <a class="nav-link design" href="#">MẪU PHÒNG NGỦ <i class="fa-solid fa-right-long"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="hidden">
                    <img class="fakeimg item" src="/Assets/Admin/images/Rectangle4.jpeg" alt="">
                </div>
                <div class="nav-item ">
                    <h4 class="design_top">Không gian phòng ăn</h4>
                    <small>Một bữa ăn ngon luôn là mong ước của mỗi gia đình. Không gian phòng ăn đóng vai trò rất quan trọng trong văn hóa Việt</small>
                    <a class="nav-link design" href="#">MẪU PHÒNG ĂN <i class="fa-solid fa-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const currencyFractionDigits = new Intl.NumberFormat('de-DE', {
            style: 'currency',
            currency: 'EUR',
            minimumFractionDigits: 0
        }).resolvedOptions().maximumFractionDigits;
       
    </script>
}

