@model ModelNhaXinh.EF.Content
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<div>
    <div class="right_col" role="main">
        @using (Html.BeginForm("Create", "Contents", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal ">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="" style="margin-left:10px">
                        <h4 class="text-dark font-weight-bold">Thêm mới bài viết</h4>

                        <div class=" " style="width:75% ;margin:auto;background-color:white;padding:25px;padding-right:30px ">
                            <div class="row mt-3">
                                <label class="col-3 text-dark " for="">Tiêu đề (<span class="text-danger font-weight-bold">*</span>)</label>
                                <input type="text" id="Name" name="Name" class="col-9 pl-1 pt-1">

                            </div>
                            <div class="row mt-3">
                                <label class="col-3 text-dark" for="">Meta Title </label>
                                <input type="text" id="MetaTitle" name="MetaTitle" class="col-9 pl-1 pt-1">
                            </div>
                            <div class="row mt-3">
                                <div class="d-flex">
                                    <label class="col-3 text-dark" for=""></label>
                                    <img class="col-2 pl-1 pt-1" width="100px" src="/Assets/Admin/images/pngtree-no-avatar-vector-isolated-on-white-background-png-image_4979074.jpg" id="Image" /><br />
                                    <a id="btnSelectImage" class="col-3 text-dark mt-4" href="#">Chọn ảnh</a>
                                    <input type="text" id="SrcImgContent" class="d-none" name="Image" />
                                </div>
                            </div>
                            <div class="row mt-3">
                                <label class="col-3 text-dark" for="">Loại bài viết </label>
                                @Html.DropDownList("CatID", null, htmlAttributes: new { @class = "w-50 pl-1 pt-1" })
                            </div>
                            <div class="row mt-3">
                                <label class="col-3 text-dark" for="">Mô tả (<span class="text-danger font-weight-bold">*</span>)</label>
                                <textarea type="text" id="Description" name="Description" class="col-9 pl-1 pt-1"></textarea>
                            </div>
                            <div class="row mt-3">
                                <label class="col-3 text-dark" for="">Tags (<span class="text-danger font-weight-bold">*</span>)</label>
                                <input type="text" id="Tags" name="Tags" class="col-9 pl-1 pt-1">
                            </div>
                            <div class="row mt-3">
                                <label class="col-3 text-dark" for="">Chi tiết (<span class="text-danger font-weight-bold">*</span>)</label>
                                <textarea id="Details" name="Details" class="col-9 pl-1 pt-1 "></textarea>

                            </div>

                            <div class="row mt-3">
                                <label class="col-4 text-dark" for="">Trạng thái </label>
                                @Html.CheckBoxFor(model => model.Status, new { @class = "ml-2 ", @checked = "checked" })

                            </div>

                        </div>
                    </div>

                </div>
                <div class="">
                    <div class="col-md-offset-2 mt-3">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        }

    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $("#btnSelectImage").on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                document.getElementById("Image").src = url;
                $("#SrcImgContent").val(url);
            };
            finder.popup();
        })
    </script>
    <script>
        var editor = CKEDITOR.replace('Details', {
            customConfig: '/Assets/Admin/Plugin/ckeditor/config.js'
        })
    </script>
}

