@model IEnumerable<ModelNhaXinh.EF.Provider>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<!-- page content -->
<div ng-app="ProviderApp" ng-controller="ProvController">
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Quản lý nhà cung cấp<small></small></h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="d-flex">
                                        <div class="dropdown ml-3">
                                            <a class=" btn btn-info dropdown-toggle  text-white" data-toggle="dropdown"><i class="glyphicon glyphicon-export text-white"></i></a>
                                            <div class="dropdown-menu" style="width:30px" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item font-weight-bolder " ng-click="exportExcel()">
                                                    <img width="25px" src="/Assets/Admin/images/modern-flat-design-logo-xls-file-icon-document-type-208206583.jpg" />
                                                    Exel
                                                </a>
                                                <a class="dropdown-item font-weight-bolder" ng-click="exportPdf()" href="#">
                                                    <img width="25px" src="/Assets/Admin/images/27_Pdf_File_Type_Adobe_logo_logos-512.jpg" />  Pdf
                                                </a>
                                            </div>
                                        </div>

                                        <a class="glyphicon glyphicon-print btn btn-info text-white" ng-click="print()"></a>
                                    </div>
                                    <div class="float-right d-inline-block">
                                        <button ng-click="Create()" style="margin-left:200px" class=" btn btn-warning mt-3  text-white" data-toggle="modal" data-target="#ModelProvider">
                                            <i class="glyphicon glyphicon-plus "></i>
                                            Thêm mới
                                        </button>
                                        <div class=" mt-3 mb-3 ml-5 d-flex">
                                            <label class="h6 mt-1 mr-2">Tìm kiếm : </label>
                                            <input style=" border: 1px solid #b1b0b0; height: 30px; border-radius: 3px; width: 200px" type="text" ng-model="Search">
                                        </div>
                                    </div>

                                    <div class="table-responsive " id="export">
                                        <table id="" class="table bulk_action jambo_table table-striped table-bordered table-hover" style="width:100%">
                                            <thead>
                                                <tr class="headings">

                                                    <th ng-click="sort('ProID')" class="column-title">
                                                        @Html.DisplayNameFor(model => model.ProID)
                                                        <i class="glyphicon glyphicon-sort-by-attributes float-right"></i>
                                                    </th>
                                                    <th ng-click="sort('ProName')" class="column-title">
                                                        @Html.DisplayNameFor(model => model.ProName)
                                                        <i class="glyphicon glyphicon-sort-by-attributes float-right"></i>
                                                    </th>
                                                    <th ng-click="sort('ProAddress')" class="column-title">
                                                        @Html.DisplayNameFor(model => model.ProAddress)
                                                        <i class="glyphicon glyphicon-sort-by-attributes float-right"></i>
                                                    </th>
                                                    <th ng-click="sort('ProEmail')" class="column-title">
                                                        @Html.DisplayNameFor(model => model.ProEmail)
                                                        <i class="glyphicon glyphicon-sort-by-attributes float-right"></i>
                                                    </th>
                                                    <th ng-click="sort('ProPhone')" class="column-title">
                                                        @Html.DisplayNameFor(model => model.ProPhone)
                                                        <i class="glyphicon glyphicon-sort-by-attributes float-right"></i>
                                                    </th>
                                                    <th ng-click="sort('debt')" class="column-title">
                                                        @Html.DisplayNameFor(model => model.debt)
                                                        <i class="glyphicon glyphicon-sort-by-attributes float-right"></i>
                                                    </th>
                                                    <th ng-click="sort('Status')" class="column-title ">
                                                        @Html.DisplayNameFor(model => model.Status)
                                                        <i class="glyphicon glyphicon-sort-by-attributes float-right"></i>
                                                    </th>
                                                    <th class="column-title no-link last">Tác vụ</th>
                                                    <th class="bulk-actions" colspan="7">
                                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="s in ListProvider | filter:Search | orderBy:sortKey:sortReverse | itemsPerPage: itemsPerPage" pagination-id="ListProvider">

                                                    <td>
                                                        {{s.ProID}}
                                                    </td>
                                                    <td>
                                                        {{s.ProName}}
                                                    </td>
                                                    <td>{{s.ProAddress}}</td>
                                                    <td>{{s.ProEmail}}</td>
                                                    <td>{{s.ProPhone}}</td>
                                                    <td>{{s.debt}}</td>
                                                    <td>
                                                        <input type="checkbox" ng-checked="{{s.Status}}" disabled>

                                                    </td>
                                                    <td class="text-center text-danger" style="font-size: 16px">
                                                        <a data-toggle="modal" ng-click="Edit(s)" data-target="#ModelProvider" class="text-danger glyphicon glyphicon-edit"></a>  |
                                                        <a ng-click="Delete(s.ProID)" class="text-danger glyphicon glyphicon-remove"></a>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="dataTables_paginate ">
                                        <dir-pagination-controls pagination-id="ListProvider" direction-links="true" max-size="5"
                                                                 boundary-links="true" class="pull-right "></dir-pagination-controls>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="ModelProvider" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-dark"> Thêm mới nhà cung cấp </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <form ng-submit="Save()">
                        @Html.AntiForgeryToken()
                        <div class="modal-body">
                            <div class="form-horizontal ">
                                <div class="row">
                                    <div class="col-sm-5 ml-4 form-group">
                                        <label>Mã nhà cung cấp:  </label>
                                        <input id="proID" value="@Html.ViewBag.id" class="d-none" />
                                        <input class="h-50" type="text" ng-model="provider.ProID" disabled />
                                    </div>
                                    <div class="col-sm-5 ml-4 form-group">
                                        <label>Họ tên </label>
                                        <input class="h-50" type="text" ng-model="provider.ProName" />
                                    </div>
                                    <div class="col-sm-5 ml-4 mt-3 form-group">
                                        <label>Địa chỉ : </label>
                                        <input type="text" style="width:92%; height:48%" ng-model="provider.ProAddress">
                                    </div>
                                    <div class="col-sm-5 ml-4 mt-3 form-group">
                                        <label>Email : </label>
                                        <input class="w-100" type="email" ng-model="provider.ProEmail" />
                                    </div>
                                    <div class="col-sm-5 ml-4 mt-3 form-group">
                                        <label>Số điện thoại : </label>
                                        <input class="w-100" type="text" ng-model="provider.ProPhone" />
                                    </div>
                                    <div class="col-sm-5 ml-4 mt-3 form-group">
                                        <label>Công nợ : </label>
                                        <input class="w-100" type="number" ng-model="provider.debt" />
                                    </div>
                                    <div class="col-sm-5 ml-4 mt-3 form-group">
                                        <label>Trạng thái hoạt động : </label>
                                        <input type="checkbox" ng-model="provider.Status" ng-checked="provider.Status" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="Save()" class="btn btn-warning ">{{buttext}}</button>
                            <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- /page content -->
@section Scripts
 {
    <script src="/Assets/Admin/js/FileSave.js"></script>
    <script src="/Assets/Admin/js/dirPagination.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script>
        var myapp = angular.module("ProviderApp", ['angularUtils.directives.dirPagination']);
        var id = $("#proID").val();
        myapp.controller("ProvController", function ($scope, $http, $httpParamSerializerJQLike) {
            $scope.ListProvider = [];
            $http.get("/Admin/Providers/getAllProvider").then(function (res) {
                $scope.ListProvider = res.data;
            });
            $scope.exportExcel = function () {
                var blob = new Blob([document.getElementById('export').innerHTML], {
                    type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
                });
                saveAs(blob, "Provider.xls");
            };
            $scope.exportPdf = function () {
                html2canvas(document.getElementById('export'), {
                    onrendered: function (canvas) {
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500
                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("provider.pdf");
                    }
                });
            }
            $scope.print = function () {
                let printContents, popupWin;
                printContents = document.getElementById('export').innerHTML;
                popupWin = window.open('', '_blank', 'top=0,left=0,height=100%,width=auto');
                popupWin.document.open();
                popupWin.document.write(`
                              <html>
                                <head>
                                  <title>Print tab</title>
                                <link href="/Assets/Admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
                                 <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
                                  <link href="/Assets/Admin/build/css/custom.css" rel="stylesheet" />
                            <style>
                                      body{
                    background-color: white;}
                    table th{
                    color:black;
                    font-weight:bold
                    }
                            </style>
                            </head>
                        <body onload="window.print();window.close()">
                        <h3 style=" color:black;" align = "center">Thống Kê Nhà Cung Cấp</h3><br>


                        ${printContents}</body>
                      </html>`
                );
                popupWin.document.close();
            }
            $scope.itemsPerPage = 10;
            $scope.provider = {}
            $scope.Create = function () {
                $scope.provider.ProID = id;
                $scope.provider.ProName = "";
                $scope.provider.ProAddress = "";
                $scope.provider.ProEmail = "";
                $scope.provider.ProPhone = "";
                $scope.provider.debt = 0;
                $scope.provider.Status = true;
                $scope._function = "Thêm mới";
                $scope.buttext = "Thêm mới";
            };
            $scope.Edit = function (idm) {
                $scope.provider.ProID = idm.ProID;
                $scope.provider.ProName = idm.ProName;
                $scope.provider.ProAddress = idm.ProAddress;
                $scope.provider.ProEmail = idm.ProEmail;
                $scope.provider.ProPhone = idm.ProPhone;
                $scope.provider.debt = idm.debt;
                $scope.provider.Status = idm.Status;
                $scope._function = "Lưu chỉnh sửa";
                $scope.buttext = "Lưu chỉnh sửa";

            }
            $scope.Save = function () {
                Token = angular.element('input[name="__RequestVerificationToken"]').attr('value');
                $scope.provider.__RequestVerificationToken = Token;
                dataRequest = $scope.provider;
                console.log(dataRequest);
                if ($scope.buttext != "Thêm mới") {
                    $http({
                        method: "POST",
                        data: $httpParamSerializerJQLike(dataRequest),
                        url: '/Admin/Providers/Edit',
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded; charse=UTF-8' }
                    }).then(function (res) {
                        if (res.mse == false) {
                            alert("Lỗi sửa bản ghi")
                        }
                        else {
                            alert("Sửa bản ghi thành công");
                            window.location.href = "/Admin/Providers/Index";
                        }
                    })
                }
                else {
                    $http({
                        method: "POST",
                        url: '/Admin/Providers/Create',
                        data: $httpParamSerializerJQLike(dataRequest),
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded; charse=UTF-8' }
                    }).then(function (res) {
                        if (res.ms = true) {
                            alert("Thêm bản ghi thành công");
                            window.location.href = "/Admin/Providers/Index"

                        }
                        else {

                            alert("Lỗi thêm bản ghi")
                        }
                    })
                }
            }

            $scope.Delete = function (idd) {
                if (confirm('Bạn có chắc chắm muốn xóa?')) {
                    $http({
                        method: "GET",
                        url: '/Admin/Providers/Delete/' + idd
                    }).then(function (res) {
                        if (res.msd = true) {
                            alert("Xóa bản ghi thành công");
                            window.location.href = "/Admin/Providers/Index";
                        }
                    })
                }

            }
            $scope.sortKey = 'ProID';
            $scope.sortReverse = false;
            $scope.sort = function (key) {
                $scope.sortReverse = ($scope.sortKey == key) ? !$scope.sortReverse : $scope.sortReverse;
                $scope.sortKey = key;
            }

        });
    </script>
}



