@model IEnumerable<ModelNhaXinh.EF.Stuff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
    int i = 1;
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Stuff Management <small></small></h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <!-- <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                      </span>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Stuff</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive ">
                                    <button class="float-right btn btn-warning mr-2 text-info">
                                        <i class="glyphicon glyphicon-plus "></i>
                                        @Html.ActionLink("Thêm mới ", "Create")
                                    </button>

                                    <table id="datatable-buttons" class="table bulk_action jambo_table table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr class="headings">
                                                <th><input type="checkbox" id="check-all" class="flat"></th>
                                                <th>STT</th>
                                                <th class="column-title">
                                                    @Html.DisplayNameFor(model => model.StuID)
                                                </th>
                                                <th class="column-title">
                                                    @Html.DisplayNameFor(model => model.StuName)
                                                </th>
                                                <th class="column-title no-link last">Tác vụ</th>
                                                <th class="bulk-actions" colspan="7">
                                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr id="row_@item.StuID">
                                                    <td class="a-center ">
                                                        <input type="checkbox" class="flat" name="table_records">
                                                    </td>
                                                    <td>@(i++)</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.StuID)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.StuName)
                                                    </td>
                                                   
                                                    <td class="text-center text-danger" style="font-size: 18px">
                                                        @Html.ActionLink(" ", "Edit", new { id = item.StuID }, new { @class = "text-danger glyphicon glyphicon-edit" }) |
                                                        @Ajax.ActionLink(" ", "Delete", new { @id = item.StuID }, new AjaxOptions
                                                       {
                                                           Confirm = "Bạn có chắc chắn muốn xóa ?",
                                                           OnComplete = " $('#row_" + @item.StuID + "').remove()",
                                                           HttpMethod = "Get"
                                                       }, new { @class = "text-danger glyphicon glyphicon-remove" })

                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

