@model ModelNhaXinh.EF.User_

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
    <link type="text/css" rel="stylesheet" href="/Assets/Admin/build/css/resume.css" media="all" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />

}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3 class="h3">User</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Thông tin cá nhân </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div id="doc2" class="yui-t7">
                            <div id="inner">

                                <div id="hd ">
                                    <div class="yui-gc d-flex yui-gf">
                                        <img class="img-circle mb-3 ml-5" src="@Model.UserImage" width="18%" alt="">
                                        <div class="yui-u  ml-5 mt-5 pl-4">
                                            <p class="h3">@Html.DisplayFor(model => model.Name)</p>
                                            <p class="h6">@Html.DisplayFor(model => model.Position)</p> 
                                            <p class="h6">Mã nhân viên : @Html.DisplayFor(model => model.UserID)</p>
                                        </div>

                                        <div class="yui-u mt-3">
                                            <div class="contact-info">
                                                <input class="btn btn-danger" type="button" id="create_pdf" value="Download PDF">
                                                <h3 class=" mt-2"><a href=""><i class="fa fa-envelope-o">  &ensp;  @Html.DisplayFor(model => model.UserEmail)</i>  </a></h3>
                                                <h3 class="mt-2"><i class="fa fa-phone"></i> &ensp; @Html.DisplayFor(model => model.UserPhone)</h3>
                                                <h4 class="mt-2"><i class="fa fa-birthday-cake"> </i> &ensp; @Html.FormatValue(Model.DateofBirth, "{0:yyyy-MM-dd}")</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="bd">
                                    <div id="yui-main">
                                        <div class="yui-b">
                                            <div class="yui-gf d-flex ">
                                                <div class="yui-u first text-right">
                                                    <div class="h5">Giới tính : </div>
                                                </div>
                                                <div class="yui-u">
                                                    <p class="enlarge">
                                                        @Html.DisplayFor(model => model.Gender)
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="yui-gf d-flex ">
                                                <div class="yui-u first text-right">
                                                    <div class="h5">  Địa chỉ : </div>
                                                </div>
                                                <div class="yui-u">
                                                    <p class="enlarge">
                                                        @Html.DisplayFor(model => model.UserAddress)
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="yui-gf  d-flex ">
                                                <div class="yui-u first text-right">
                                                    <div class="h5">   Thẻ căn cước công dân : </div>
                                                </div>
                                                <div class="yui-u">
                                                    <div class="yui-u">
                                                        <p class="enlarge">
                                                            @Html.DisplayFor(model => model.Identification)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="yui-gf  d-flex ">
                                                <div class="yui-u first text-right">
                                                    <div class="h5">Ngày cấp : </div>
                                                </div>
                                                <div class="yui-u">
                                                    <div class="yui-u">
                                                        <p class="enlarge">
                                                            @Html.FormatValue(Model.DateofIssueinIDcard, "{0:yyyy-MM-dd}")
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="yui-gf  d-flex ">
                                                <div class="yui-u first text-right">
                                                    <div class="h5">Nơi cấp : </div>
                                                </div>
                                                <div class="yui-u">
                                                    <div class="yui-u">
                                                        <p class="enlarge">
                                                            @Html.DisplayFor(model => model.PlaceofIssueofIdentityCard)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="yui-gf  d-flex ">
                                                <div class="yui-u first text-right">
                                                    <div class="h5"> Certificate : </div>
                                                </div>
                                                <div class="yui-u">
                                                    <div class="yui-u">
                                                        <p class="enlarge">
                                                            @Html.DisplayFor(model => model.Degree)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="yui-gf  d-flex ">
                                                <div class="yui-u first text-right">
                                                    <div class="h5">Tình trạng hôn nhân : </div>
                                                </div>
                                                <div class="yui-u">
                                                    <div class="yui-u">
                                                        <p class="enlarge">
                                                            @Html.DisplayFor(model => model.MaritalSatus)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="yui-gf  d-flex ">
                                                <div class="yui-u first text-right">
                                                    <div class="h5">UserName : </div>
                                                </div>
                                                <div class="yui-u">
                                                    <div class="yui-u">
                                                        <p class="enlarge">
                                                            @Html.DisplayFor(model => model.UserName)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="yui-gf  d-flex ">
                                                <div class="yui-u first text-right">
                                                    <div class="h5">Trạng thái : </div>
                                                </div>
                                                <div class="yui-u">
                                                    <div class="yui-u">
                                                        <p class="enlarge">
                                                            @Html.DisplayFor(model => model.Status)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="ft">
                                    <p>@Html.DisplayFor(model => model.Name) &mdash; <a>@Html.DisplayFor(model => model.UserEmail)</a> &mdash; @Html.DisplayFor(model => model.UserPhone)</p>
                                </div>
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

