@model IEnumerable<ModelNhaXinh.EF.Product>
@{
    var category = (ModelNhaXinh.EF.Category)ViewBag.category;
    ViewBag.Title = category.CatName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    // define format VND
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}
<!-- slide -->
<div>
    <div class="container-fluid">
        <div id="myCarousel" class="carousel" data-ride="carousel">
            <div class="carousel-inner  position-relative" style="height:450px;">
                <img class="fakeimg" src="/Assets/Admin/images/nha-xinh-phong-khach-sofa-jazz-mau-cognac-phong-cach-new-768x512.jpg" alt="">
                <div class="position-absolute d-flex design_color_slide ps-2 pe-2">
                    <div style="margin-top: 30%">
                        <a class="text-white text-decoration-none fw-bold" href="">@category.CatName</a> <br>
                        <a class="text-white text-decoration-none" href="">Trang chủ </a>
                        <span class="text-white "> / </span>
                        <a class="text-white text-decoration-none" href=""> @category.Room.RooName </a>
                        <span class="text-white "> / @category.CatName</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Choosing price, material and size -->
    <div class="container-fluid mt-3 ms-5">
        <div class="row" style="margin: auto">
            <div class="col-sm-3">
                <label for="" class="form-label">Giá</label>
                <select name="" id="" class="form-select">
                    <option value="PhoBien">Theo mức độ phổ biến</option>
                    <option value="MoiNhat">Mới nhất</option>
                    <option value="ThapCao">Theo giá: từ thấp đến cao</option>
                    <option value="CaoThap">Theo giá: Từ cao xuống thấp</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="" class="form-label">Chất liệu</label>
                <select name="" class="form-select" id="">
                    <option value="All">All</option>
                    <option value="Da">Da</option>
                    <option value="DaCongNghiep">Da Công Nghiệp</option>
                    <option value="DavaVai">Da và Vải</option>
                    <option value="Vai">Vải</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="" class="form-label">Kích thước</label>
                <select name="" class="form-select" id="">
                    <option value="All">All</option>
                    <option value="2cho">2 chỗ</option>
                    <option value="25cho">2.5 chỗ</option>
                    <option value="3cho">3 chỗ</option>
                </select>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-dark" style="margin-top: 30px">Áp Dụng</button>
            </div>
        </div>
    </div>
    <!-- List product -->
    <div class="container-fluid mt-5">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-3">
                    <div class=" hover_total">
                        <div class="hidden position-relative">
                            <img id="img_active1" class=" fakeimg img_hover " src="@item.ProImage" alt="">
                            <div class="position-absolute discount">1%</div>
                        </div>
                        <div class="d-block ">
                            <div class="me-auto">
                                <div class="nav-link text-muted cursor mr-3" aria-current="page" href="/Home/Detail/@item.ProID">@item.ProName</div>
                            </div>
                            <div class="text-right " style="margin-top:-35px">
                                <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                                @if (item.Prices.FirstOrDefault() == null)
                                {
                                    <div><bdi class="text-danger "> Liên Hệ </bdi></div>
                                    <div><small class="text-decoration-line-through mt-3 text-muted "></small></div>
                                }
                                else
                                {
                                    <div><bdi class="text-danger "> @String.Format(format, "{0:c0}", (int)(item.Prices.FirstOrDefault(s => s.Status == true).Cost))) </bdi></div>
                                    <div><small class="text-decoration-line-through mt-3 text-muted "> @String.Format(format, "{0:c0}",(int)(item.Prices.FirstOrDefault(s => s.Status == true).PreCost)) </small></div>
                                }

                            </div>
                        </div>
                        <div class="d-flex design_top hidden_img">
                            <a onclick="common.AddCart('@item.ProID')" class=" btn btn-outline-dark">THÊM VÀO GIỎ</a>
                            <a href="/Home/Detail/@item.ProID" class="float-right btn btn-dark">XEM THÊM</a>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Count() > 0)
            {
                var pageDisplay = (int)(ViewBag.maxpage);

                int totalpage = (int)ViewBag.totalpage;
                int currentpage = (int)ViewBag.page;

                var startPageIndex = Math.Max(1, currentpage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalpage, currentpage + pageDisplay / 2);

                var link = "/Home/Category/" + category.CatID;
                <div >
                    <ul class="pagination justify-content-center" >
                        @if (currentpage >= ViewBag.Fist)
                        {
                            <li class="page-item"><a class="page-link" href="@link?page=@ViewBag.Fist" title="Trang đầu"><i class="fa fa-angle-double-left text-muted"></i></a></li>
                            <li class="page-item"><a class="page-link" href="@link?page=@ViewBag.Prev" title="Trang trước"><i class="fa fa-angle-left text-muted"></i></a></li>
                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentpage == i)
                            {
                                <li class="page-item active"><a class="page-link text-white" href="@link?page=@i" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item "><a class="page-link text-muted" href="@link?page=@i" title="Trang @i">@i</a></li>
                            }
                        }
                        @if (currentpage <= totalpage)
                        {
                            <li class="page-item"><a class="page-link" href="@link?page=@ViewBag.Next" title="Trang sau"><i class="fa fa-angle-right text-muted"></i></a></li>
                            <li class="page-item"><a class="page-link" href="@link?page=@totalpage" title="Trang cuối"><i class="fa fa-angle-double-right text-muted"></i></a></li>
                        }

                        
                    </ul>
                </div>
            }
            else
            {
                <span class="text-danger ms-3 mb-3">Không có bản ghi nào</span>
            }

        </div>

    </div>
    <!-- sản phẩm vừa xem -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm ">
            <div class="container-fluid">
                <div class="collapse navbar-collapse boder_bottom" id="navbarID2">
                    <div class="navbar-nav ">
                        <h4 class="nav-link active text-dark" aria-current="page" href="#">Sản Phẩm Vừa Xem</h4>
                    </div>
                    <div class="navbar-nav cursor">
                        <small class="nav-link active text-dark" aria-current="page" href="#"></small>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- DS sản phẩm -->
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-3">
                    <div class=" hover_total">
                        <div class="hidden position-relative">
                            <img id="img_active1" class=" fakeimg img_hover " src="@item.ProImage" alt="">
                            <div class="position-absolute discount">1%</div>
                        </div>
                        <div class="d-block ">
                            <div class="me-auto">
                                <div class="nav-link text-muted cursor" aria-current="page" href="/Home/Detail/@item.ProID">@item.ProName</div>
                            </div>
                            <div class="text-right " style="margin-top:-35px">
                                <div class="nav-link text-muted hover_heart " aria-current="page" href="#"><i class="fa-regular fa-heart"></i></div>
                                <div><bdi class="text-danger ">@(item.Prices == null ? @String.Format(format, "{0:c0}", item.Prices.FirstOrDefault(s => s.Status == true).Cost)  : "Liên Hệ") </bdi></div>
                                <div><small class="text-decoration-line-through mt-3 text-muted ">@(item.Prices == null ? @String.Format(format, "{0:c0}", item.Prices.FirstOrDefault(s => s.Status == true).PreCost) : "")</small></div>
                            </div>
                        </div>
                        <div class="d-flex design_top hidden_img">
                            <a href="/Home/AddCart/@item.ProID" class=" btn btn-outline-dark">THÊM VÀO GIỎ</a>
                            <a href="/Home/Detail/@item.ProID" class="float-right btn btn-dark">XEM THÊM</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-sm-6  ">
                <div class="hidden">
                    <img class="fakeimg item " src="/Assets/Admin/images/Rectangle.jpeg" alt="">
                </div>

            </div>
            <div class="col-sm-6">
                <div class="row d-flex">
                    <div class="col-sm-5">
                        <h4>Không gian phòng khách</h4>
                        <small>Phòng khách là không gian chính của ngôi nhà là nơi sum họp gia đình</small>
                        <a class="nav-link design" href="#">
                            MẪU THIẾT KẾ <i class="fa-solid fa-right-long"></i>
                        </a>
                        <div class="nav-item design_left">
                            <h4>Đồ trang trí</h4>
                            <small>Mang lại những nguồn cảm hứng và nét sinh động cho không gian</small>
                            <a class="nav-link design" href="#">KHÁM PHÁ <i class="fa-solid fa-right-long"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="hidden">
                            <img class="fakeimg item" src="/Assets/Admin/images/nha-xinh-phong-khach-may-net-viet-duong-dai-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mẫ phòng ngủ -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-sm-6  ">
                <div class="row ">
                    <div class="col-sm-7">
                        <div class="hidden">
                            <img class="fakeimg item" src="/Assets/Admin/images/SHOWROOM_007.jpg"
                                 alt="">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="nav-item design_left">
                            <h4>Không gian phòng ngủ</h4>
                            <small>Những mẫu phòng ngủ của Nhà Xinh mang đến cảm giác ấm cúng, gần gũi và thoải mái</small>
                            <a class="nav-link design" href="#">MẪU PHÒNG NGỦ <i class="fa-solid fa-right-long"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="hidden">
                    <img class="fakeimg item" src="/Assets/Admin/images/Rectangle4.jpeg" alt="">
                </div>
                <div class="nav-item ">
                    <h4 class="design_top">Không gian phòng ăn</h4>
                    <small>Một bữa ăn ngon luôn là mong ước của mỗi gia đình. Không gian phòng ăn đóng vai trò rất quan trọng trong văn hóa Việt</small>
                    <a class="nav-link design" href="#">MẪU PHÒNG ĂN <i class="fa-solid fa-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const currencyFractionDigits = new Intl.NumberFormat('de-DE', {
            style: 'currency',
            currency: 'EUR',
            minimumFractionDigits: 0
        }).resolvedOptions().maximumFractionDigits;
        var common = {
            init: function () {
                
            },
            registerEvent: function () {

            },
            AddCart: function (idd) {
                var ob = idd;
                $.ajax({
                    url: "/Home/AddCart",
                    dataType: "json",
                    data: { id: ob },
                    success: function () {
                        common.loadData();
                        $('.submenu_h2').show();

                    }, error: function (er) {
                        alert(er.responseText);
                    }
                });

            },
            loadData: function () {
                $.ajax({
                    url: "/Home/Cart",
                    dataType: "json",
                    success: function (res) {
                        if (res.status) {
                            var details = res.Data;
                            var html = '';
                            var datatable = $('#addCart').html();
                            var x = 0;
                            $.each(details, function (i, item) {
                                x = x + item.Quantity * item.Cost;
                                html += Mustache.render(datatable, {
                                    Id: item.ProID,
                                    ProImage: item.ProImage,
                                    ProName: item.ProName,
                                    Cost: (item.Cost).toLocaleString('de-DE', {
                                        maximumFractionDigits: currencyFractionDigits
                                    }) + 'đ ',
                                    Quantity: item.Quantity
                                });
                            });
                            $('#AddCart').html(html);
                            $('#Tongtien').html(x.toLocaleString('de-DE', {
                                maximumFractionDigits: currencyFractionDigits
                            }) + 'đ ')
                        }
                    },
                })
            },
            updateCart: function (idd) {
                var data = {
                    ProID: idd,
                    Quantity: document.getElementById(idd).value
                };
                $.ajax({
                    url: "/Home/UpdateSLC",
                    type: 'POST',
                    dataType: "json",
                    data: {
                        model: JSON.stringify(data)
                    }, success: function () {
                        common.loadData();
                    }
                })
            },
            removeCart: function (s) {
                var ob = s;
                $.ajax({
                    url: "/Home/RemoveCart",
                    type: 'Post',
                    dataType: "json",
                    data: { id: ob },
                    success: function (res) {

                        alert("Bạn đã xóa khỏi giỏ hàng")
                        common.loadData();
                    }
                });
            }

        }
        common.init();
    </script>
    }

